html,
body {
  background: #F6F6F6;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
}

button,
label {
  cursor: pointer;
}

input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}


input[type="checkbox"] {
  display: none;
}

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  color: #56593D;
  font-family: "Roboto ", arial;
  font-weight: 400;
  /* 155.556% */
}

.container {
  max-width: 1330px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.one {
  width: 25%;
}

.dn {
  display: none;
}


.Faec {
  padding: 50px 0;
}

.sec_tit {
  color: #2c2f24;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 100px;
  line-height: 96px;
  /* 96% */
  font-weight: 400;
  margin-bottom: 20px;
}

.sec_sub-tit {
  color: #2c2f24;
  font-family: "Playfair Display", arial;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.5px;
  /* 110% */
}

.sec_desc {
  color: #495460;
  text-align: center;
  font-style: normal;
}

.color {
  color: #be963f;
}

.dib {
  display: inline-block;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #be963f;
}


.btn:hover {

  background: #8b6767;
  color: #170e0e;
}

.link {
  transition: 0.3s;
}

.link:hover {
  display: flex;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.header {
  height: 105px;
  background: #ffffff;

}

.head {
  padding-top: 20px;
  margin-right: 550px;
  box-sizing: border-box;

}

.head_id {
 gap: 25px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.black{
  width: 324px;
  height: 50px;
  background: #000;
  transition: 0.3s;
  color:white;
  margin-top: 270px;
  margin-left: 20px;
}
.black:hover{
  background: #fff;
  border: 1px solid #000;
  color: #000;
}
.logo {
  text-align: center;
  justify-content: center;
}

.main2 {
  background-image: url(./img/w1.jpg);
  height: 698px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.icons {
  padding: 0 50px;
}

.icon {
  display: flex;
}

.icon_txt {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.cloe_info {
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.m_t {
  padding-top: 250px;
  width: 807px;
  height: 77px;
  ;
  top: 107.45px;
  font-family: Roboto;
  font-size: 27px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 35px;
  text-align: center;
  margin-left: 250px;
  color: #FFFFFF;
}

.btn {
  display: flex;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  margin-top: 60px;
height: 33px;
  border: 1px;
  border: 1px solid #fff;
}
.m_btn{
  display: flex;
  justify-content: center;
}
.btn_o {
  font-family: Palatino Linotype;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.logo_p {
  width: 60px;
  height: 30px;
  top: 10.02px;
  left: 11.41px;
  flex-wrap: wrap;
}

.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 45px;
}

.cloe_t {
  width: 437px;
  padding-right: 25px;
}

.shop_p {
  text-decoration: underline;
}

.s_img img {
  transition: 0.5s;
}

.s_img:hover img {
  transform: scale(1.1);
}

.s_img::before {
  content: '';
  position: absolute;
  background: #000;
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}

.s_img:hover::before {
  opacity: 0.5;
}

.c_txt {
  color: #000000;
  font-family: Roboto;
  font-size: 33px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: right;

}
.right {
  text-align: left;
  margin-left: 15px;
}
.righ {
  font-family: Cardo;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  margin-left: 15px;
}
.c_tit {
  font-family: Cardo;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: right;
  color: #000000;

}
.inst{
  color: #fff;
  margin-left: 250px;
  margin-top: -500px;
}
.f_tit {
  height: 92px;
  top: -31.52px;
  left: -26.98px;
  font-family: Cardo;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: right;
  color: #525252;
}

.e_tit {
  height: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #000000;
  padding-left: 300px;
}

.shop_img {
  width: 85px;
  height: 22px;
  top: 315.13px;
  left: 305.02px;
}
.learn{
  text-decoration: underline;
  margin-left: 140px;
  margin-top: 20px;
  color: #000000;
}

.our_tit {
  font-family: Cardo;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  color: #3A3A3A;
  margin-bottom: 25px;
  margin-top: 60px;
}

.our_p {
  font-family: Cardo;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.img_our {
  height: 550px;
  top: 152px;
  gap: 10px;
  justify-content: center;
}

.img {
  justify-content: center;
  flex-wrap: wrap;
}
.slider{
 display: flex;
 justify-content: center;
 margin-top: 15px;
}

.team_tit {
  width: 1190px;
  height: 60px;
  top: 1px;
  left: 26px;
  font-family: Cardo;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 125px;
  color: #020202;
  margin-left: 50px;
}

.team_p {
  font-family: Cardo;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-left: 30px;
}
.point{
  margin-top: 50px;
  margin-bottom: 80px;
}

.foot_img {
  width: 95px;
  height: 95px;
  margin-left: 140px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.foot_ic {
  font-family: Cardo;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  justify-content: center;
  margin-right: 10px;


}

.foot_p {
  width: 283px;
  height: 56px;
  top: 46.48px;
  left: 21px;
  font-family: Cardo;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  margin-left: 40px;
  text-align: center;
  
}
.cards{
  flex-wrap: nowrap;
}

.card {
  background: #FFFFFF;
  width: 360px;
  height: 370px;
  margin-bottom: 180px
}
.card_p
{
  color:#F6F6F6;
}

.foot_io {
  font-family: Cardo;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  text-decoration: underline;
  justify-content: center;
  margin-right: 1000px;
  margin-top: 290px;
}

.those_tit {
  font-family: Cardo;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  text-align: center;
  margin-bottom: 30px;
}

.ahm {
  font-family: Cardo;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.About {
  margin-right: 90px;
}