html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}


input[type="checkbox"] {
  display: none;
}

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  color: #56593D;
  font-family: "Roboto ", arial;
  font-weight: 400;
  /* 155.556% */
}

.container {
  max-width: 1330px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.dn {
  display: none;
}

section {
  padding: 100px 0;
}

.sec_tit {
  color: #2c2f24;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 100px;
  line-height: 96px;
  /* 96% */
  font-weight: 400;
  margin-bottom: 20px;
}

.sec_sub-tit {
  color: #2c2f24;
  font-family: "Playfair Display", arial;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.5px;
  /* 110% */
}

.sec_desc {
  color: #495460;
  text-align: center;
  font-style: normal;
}

.color {
  color: #be963f;
}

.dib {
  display: inline-block;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #be963f;
}

.btn {
  transition: 0.3s;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  padding: 10px 240px;
  border: 2px;
  opacity: inherit;
  

}

.btn:hover {

  background: #8b6767;
  color: #170e0e;
}

.link {
  transition: 0.3s;
}

.link:hover {
  display: flex;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.head{
  margin-right: 550px;
	margin-top: 35px; 
	margin-bottom: 28px;
	box-sizing: border-box;
}
.head_id{
	margin-right: 340px;
}
.logo{
	text-align: center;
  justify-content: center;
  margin-left: 550px;
}
.main{
  background-image: url(./img/w1.jpg);
  width: 1440px;
height: 698px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.m_t{
  width: 807px;
height: 77px;;
top: 107.45px;
font-family: Roboto;
font-size: 27px;
font-weight: 700;
line-height: 38px;
text-align: center;
margin-left: 250px;
margin-top: 150px;
color:#FFFFFF;
}
.m_btn{
  display: flex;
  width: 324px;
height: 50px;
top: 750px;
left: 20px;
}
.btn_o{
  font-family: Palatino Linotype;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
}
.logo_p{
  width: 60px;
height: 30px;
top: 10.02px;
left: 11.41px;
flex-wrap: wrap;
}
.image{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ico{
  width: 960px;
height: 542px;
top: 0.11px;
left: 480px;
margin-left:auto;
flex-direction: row-reverse;

}
.c_txt{
  color: #000000;
  font-family: Roboto;
font-size: 33px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: right;

}
.c_tit{
  font-family: Cardo;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 37px;
letter-spacing: 0em;
text-align: right;
color:  #000000;

}
.f_tit{
  width: 437px;
height: 92px;
top: -31.52px;
left: -26.98px;
font-family: Cardo;
font-size: 18px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0em;
text-align: right;
font-size: 18px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0em;
text-align: right;
color:#525252;
max-width: ;
}
.e_tit{
height: 20px;
display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #000000;
}
.shop_img{
  width: 85px;
height: 22px;
top: 315.13px;
left: 305.02px;
}
